.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, 1fr);
    gap: 10px;
    margin: 30px;
}

@media (max-width: 768px){
    .gallery{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}

.post{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    transition: box-shadow 0.3s;
}

.post:hover{
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.248);
}

img{
    border-radius: 15px;
    max-height: 500px;
    max-width: 90%;
}